# SYD DAT 3 Lab 1 - Git and Markdown

##Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_3"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

# Project idea 1 : Sales Forecast

#### Overview of your idea
    
    Try and predict future sales
    

#### What data you will use

    Data from work + maybe some additional external data weather etc.
    

#### What is the outcome is that you are trying to achieve


    The purpose is to manage future cashflows of sales with outflows of purchases.
    

#### Any ideas of modelling techniques it may involve


    Linear regression, Ensemble models

# Project idea 2 : Predict which promo a customer will purchase

#### Overview of your idea

    Given a customer database predict which customer will purchase after receiving a particular promotion


#### What data you will use
    
    Maybe Kaggle Data


#### What is the outcome is that you are trying to achieve
    
    The purpose is to focus on sending promotions to customers that will actually purchase.


#### Any ideas of modelling techniques it may involve
    
    Logisitc regression, SVC, Random forest, other ensemble methods

# Project idea 3 : Sentiment Analysis - Hotel,food,product reviews

#### Overview of your idea

    Given a current event determine the attitude of the audience

#### What data you will use

    Scrape some data,Twitter,facebook API's on event etc Sporting,financial


#### What is the outcome is that you are trying to achieve

    
    Find out whether there is a positive or negative response to a particular event


#### Any ideas of modelling techniques it may involve
    
    Bag of words

# Project idea 4 : Product Recommender System

#### Overview of your idea

    Setup up a recommender system using customer product data

#### What data you will use

    Data from Amazon

#### What is the outcome is that you are trying to achieve

    Predict products a user might have interest in.    
    

#### Any ideas of modelling techniques it may involve

    Collaborative filtering

# Project idea 5 : Clustering - Customer Segmentation

#### Overview of your idea

    Split a large customer Dataset

#### What data you will use

    Maybe Ebay

    
#### What is the outcome is that you are trying to achieve

    Gain a better understanding of customer base for the purpose of tailoring specific products.
    

#### Any ideas of modelling techniques it may involve

    K-means clustering

## Exercise Four - Movie Lens Data

In [5]:
ls

 Volume in drive C is OS
 Volume Serial Number is 761C-04F8

 Directory of C:\Users\JChung\Desktop\SYD_DAT_3\homework\ml-1m

31/03/2015  04:16 PM    <DIR>          .
31/03/2015  04:16 PM    <DIR>          ..
26/03/2003  03:18 PM           171,308 movies.dat
28/02/2003  03:53 PM        24,594,131 ratings.dat
31/03/2015  04:16 PM             5,197 README
28/02/2003  03:53 PM           134,368 users.dat
               4 File(s)     24,905,004 bytes
               2 Dir(s)  138,828,521,472 bytes free

In [2]:
import pandas as pd
import numpy as np

In [6]:
users = pd.read_table("users.dat",sep = "::",header = None,names = ['Id','Sex','Age','Occupation','Zip-code'])

In [7]:
def change(x):
    a = 0
    if x == 0:
        a = "other"
    elif x == 1:
        a = "academic/educator"
    elif x == 2:
        a = "artist"
    elif x == 3:
        a = "clerical/admin"
    elif x == 4:
        a = "college/grad student"
    elif x == 5:
        a = "customer service"
    elif x == 6:
        a = "doctor/health care"
    elif x == 7:
        a = "executive/managerial"
    elif x == 8:
        a = "farmer"
    elif x == 9:
        a = "homemaker"
    elif x == 10:
        a = "K-12 student"
    elif x == 11:
        a = "lawyer"
    elif x == 12:
        a = "programmer"
    elif x == 13:
        a = "retired"
    elif x == 14:
        a = "sales/marketing"
    elif x == 15:
        a = "scientist"
    elif x == 16:
        a = "self-employed"
    elif x == 17:
        a = "technician/engineer"
    elif x == 18:
        a = "tradesman/craftsman"
    elif x == 19:
        a = "unemployed"
    elif x == 20:
        a = "writer"
    return a

In [8]:
users['Occupation'] = users.Occupation.apply(lambda x: change(x))

In [12]:
users.head()

   Id Sex  Age            Occupation Zip-code
0   1   F    1          K-12 student    48067
1   2   M   56         self-employed    70072
2   3   M   25             scientist    55117
3   4   M   45  executive/managerial    02460
4   5   M   25                writer    55455

In [74]:
# for each occupation in 'users', count the number of occurrences
users.groupby('Occupation').size()

Occupation
K-12 student            195
academic/educator       528
artist                  267
clerical/admin          173
college/grad student    759
customer service        112
doctor/health care      236
executive/managerial    679
farmer                   17
homemaker                92
lawyer                  129
other                   711
programmer              388
retired                 142
sales/marketing         302
scientist               144
self-employed           241
technician/engineer     502
tradesman/craftsman      70
unemployed               72
writer                  281
dtype: int64

In [80]:
# for each occupation, calculate the mean age
users.groupby('Occupation').Age.mean()

Occupation
K-12 student             4.107692
academic/educator       36.030303
artist                  30.662921
clerical/admin          33.127168
college/grad student    20.408432
customer service        29.508929
doctor/health care      36.855932
executive/managerial    34.811487
farmer                  34.529412
homemaker               33.989130
lawyer                  34.015504
other                   29.856540
programmer              29.716495
retired                 53.190141
sales/marketing         31.135762
scientist               31.312500
self-employed           37.792531
technician/engineer     32.181275
tradesman/craftsman     33.400000
unemployed              21.444444
writer                  31.024911
Name: Age, dtype: float64

In [81]:
# for each occupation, calculate the minimum and maximum ages
users.groupby('Occupation').Age.agg([np.min,np.max])

                      amin  amax
Occupation
K-12 student             1    56
academic/educator        1    56
artist                   1    56
clerical/admin          18    56
college/grad student     1    50
customer service        18    56
doctor/health care      18    56
executive/managerial     1    56
farmer                   1    56
homemaker               18    56
lawyer                   1    56
other                    1    56
programmer               1    56
retired                  1    56
sales/marketing          1    56
scientist               18    56
self-employed           18    56
technician/engineer      1    56
tradesman/craftsman     18    56
unemployed               1    56
writer                  18    56

In [82]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(['Occupation','Sex']).Age.mean()

Occupation            Sex
K-12 student          F       1.772727
                      M       5.302326
academic/educator     F      35.387560
                      M      36.451411
artist                F      33.681319
                      M      29.102273
clerical/admin        F      33.640000
                      M      32.424658
college/grad student  F      20.978632
                      M      20.154286
customer service      F      30.967742
                      M      28.950617
doctor/health care    F      37.343137
                      M      36.485075
executive/managerial  F      33.410072
                      M      35.172222
farmer                F      47.000000
                      M      31.857143
homemaker             F      34.258427
                      M      26.000000
lawyer                F      32.454545
                      M      34.336449
other                 F      30.788793
                      M      29.405010
programmer            F      34.420000
                      M      29.020710
retired               F      54.470588
                      M      52.787037
sales/marketing       F      29.278481
                      M      31.793722
scientist             F      33.035714
                      M      30.896552
self-employed         F      39.529412
                      M      37.326316
technician/engineer   F      30.634615
                      M      32.360000
tradesman/craftsman   F      37.500000
                      M      33.151515
unemployed            F      21.000000
                      M      21.561404
writer                F      32.602564
                      M      30.418719
Name: Age, dtype: float64

In [79]:
# randomly sample a DataFrame
users.sample()

        Id Sex  Age  Occupation Zip-code
2405  2406   F   56  programmer    01520

In [77]:
# detect duplicate users
users[users.duplicated() == True]

Empty DataFrame
Columns: [Id, Sex, Age, Occupation, Zip-code]
Index: []