# SYD DAT 3 Lab 1 - Git and Markdown

> Great work Adrian!!! I really like your reporting style, very clear and well communicated. The projects listed were excellent. I think you should see how hard it is to get data for your favourite 2 projects and go from there. Well done on the coding section as well - excellent approaches and thinking around why you are doing the exercise.

##Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_3"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Homework Answers

### Communication
#### Analyzing the Analyzers
- It is important to classify yourself and the roles you're after to efficively manage both expectations and job descriptions. 
- There are 4 broad groups most data scientists can be classified as.
- It is important to act as a T-shaped employee, with a broad range of knowledge and an in depth understanding of one or more areas.
- Data Scientist are generally T shaped employees with a range of skills and indepth knowledge as shown in the data.
- Due to the range of data science skillsets and applicability in various departments, it is reccomended to have data scientists on rotation between various departments.

> Glad you picked up on the T shaped employee. It's really important to be a well rounded data scientist.

### Data science Textbook
#### Chapter 3

- Pete Skomoroch

Interview with a data scientist who famously built the endorsements engine for skills. He goes on to explain the differences in working with a small company vs building prototypes and production level code with LinkedIn. Insights over how the data science landscape has changed over his career, the need to get up to speed with engineering and learning about the tech stack. He then goes into the growing pains of LinkedIn, the need for communication and his thoughts on the future. 

> Great summary, do you think LinkedIn does a good job with Data Science?

#### Chapter 6 

- Clare Corthell

Started working for a young product development company and decided to teach herself data science over a 6 month course. That course then became the Open SOurce Data Science Masters. Essentially she goes on to promote the value of open source and highlights the nature of market behavior, your current vs future value and the shift from interviews to tryouts. While she is having difficulty having her course legitimised, she reiterates the value in being self taught and how independent learning is a valuable asset  

> Did you have a look at the Open data science masters? It's a good overview of resources if you haven't seen it already. Tryouts are a big part of the recruiting process now - take home mini-projects are fairly common and useful for both parties. Independent learning is one of the most important skills you can have - it's a hard field to stay relevant in if you aren't improving.


## Horse Racing Prediction
- Analyse past horse racing data to predict future winners.
- Use TAB data to collect information on horses age, jockey weight, barrier, past form, blinkers, beaten favourite and current TAB pricing. 
- Calculate probability of winning and compare it to TAB price for arbitrage
- Linear Regression, Machine learning. 

> I like this if you can source the data. It would be an interesting analysis. See how you go sourcing the data though - it may cost money.

## Airbnb Rental Yield
- Identify opportunities in the market by comparing differences in Airbnb pricing and seasonality with rental prices
- Scrap airbnb and realestate.com.au data, collecting information on availability, price, competition and variances in season and property types
- Highlight areas and certain classes of property with the highest rental return.
- Classification, linear regression

> As I mentioned before - I like this idea. It reminds me a bit of this one [Product Insights for AirBnb](http://blog.echen.me/2015/07/05/product-insights-for-airbnb/). Maybe reach out to this guy and ask how he gathered his data.

## Stock Market Analysis
- Supervised learning of trends in stock market price relating to news and press releases
- Data available from google finance, paired with market updates and sentiment analysis of reports
- Observe and measure a correlation between the sentiment of new information and the magnitude of price changes
- Classification of news releases, machine learning and regression analysis. 

> This is a good one too. Text analysis over reports is a good one. What about the early release of reports (like [Twitter's one](http://blogs.wsj.com/digits/2015/04/28/twitters-earnings-report-leaks-on-twitter-an-hour-early/)). There's some good software for backtesting trading strategies you can look at if you are interested. This one will be very difficult to perform though.

##  Perfume Selection Algorithm
- Able to predict suitable perfumes without smelling first from past perfume useage
- Data available from Frangetica.com, an entire database of perfumes and base notes information
- Gain insights into customer purchase behavior and predict perfume suggestions based on personal prefference and perfume charaterisitics
- Classification / recommendation engine 

> This is another excellent project. I think you could put togehter a really interesting and practical data science project off this. 

## Bank Transation Analyser 
- Analyse your bank transaction data to provide valueble insights into your spending behavior
- Personal bank trasation history. Database of trasational data / publicly available data 
- Able to classify and quantify spending buckets, highlight trends and detect anomalies. 
- Classification / Machine Learning

> Great idea, but getting access to the Bank API's could be a bit tricky. Read up on the T&C's of the API's and see how difficult it will be to get a good feed of data.

## Exercise Four - Movie Lens Data

In [16]:
# for each occupation in 'users', count the number of occurrences
import pandas as pd
pd.read_table('u.user')

user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [27]:
# for each occupation, calculate the mean age
users.groupby(['occupation'])['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [28]:
# for each occupation, calculate the minimum and maximum ages
users.groupby(['occupation'])['age'].agg({'min_age':min,'max_age':max})

               max_age  min_age
occupation
administrator       70       21
artist              48       19
doctor              64       28
educator            63       23
engineer            70       22
entertainment       50       15
executive           69       22
healthcare          62       22
homemaker           50       20
lawyer              53       21
librarian           69       23
marketing           55       24
none                55       11
other               64       13
programmer          63       20
retired             73       51
salesman            66       18
scientist           55       23
student             42        7
technician          55       21
writer              60       18

In [48]:
# for each combination of occupation and gender, calculate the mean age

users.groupby(['occupation', 'gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [57]:
# randomly sample a DataFrame
users.sample(n=1)

         age gender  occupation zip_code
user_id
850       34      M  technician    78390

In [53]:
# detect duplicate users
users.duplicated(['age','gender','zip_code']).sum()
users.duplicated(['age','gender','occupation', 'zip_code']).sum()

7